@namespace ManualTesting.Client
@inherits Services.ServiceComponentBase

<div id="root" @onclick="(MouseEventArgs e) => Click?.Invoke(e)">
    @if (isPreRendering()) {
        <div id="app-load-progress">
            <div class="load-circle"></div>
            <LoaderIcon />
        </div>
    }
    
    <SectionOutlet SectionName="top-level" />


    <AppNavBar />

    <main>
        <Home />
    </main>
</div>
