.slider {
    display: inline-block;
    margin: 10px;

    // Title
    & > label {
        display: table;
        margin: 0 auto 5px auto;
    }

    // div with buttons and value Display
    & > .slider-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin: 2px 10px;

        // decrement & increment buttons
        & > button {
            height: 23px;
            font-size: 10px;
            margin: 0 3px;
            padding: 0 3px;
            border-radius: 50%;
            background-color: #07F;
        }

        // value display text
        & > label {
            font-size: 18px;
        }

        // value display text
        & > input {
            height: 25px;
            width: 35px;
            font-size: 18px;
            text-align: center;
            border: none;
            outline: none;
            background-color: rgba(0,0,0,0);
        }
    }

    // slider
    & > .slider-input {
        display: table;
        margin: 0 auto;

        & > input[type=range] {
            -webkit-appearance: none;
            width: 100px;
            height: 5px;
            margin: 5px 5px 0 5px;
            padding: 0;
            background: #5FF;
            opacity: 0.7;
            transition: opacity 0.3s;

            &:hover {
                opacity: 1;
            }

            &:focus {
                outline: none;
            }

            // track
            @mixin track {
                height: 6px;
                background: #5FF;
                border-radius: 3px;
            }

            
            &::-webkit-slider-runnable-track {
                @include track;
            }

            &::-moz-range-track {
                @include track;
            }

            // thumb
            @mixin thumb {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #07F;
                cursor: pointer;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                @include thumb;
                margin-top: -5px;
            }

            &::-moz-range-thumb {
                @include thumb;
            }
        }
    }
}
