.slider {
    --button-background-color: #0D6EFD;
    --button-border-color: #EEE;
    --button-stroke-color: #FFF;
    --button-background-color-hover: #0B5ED7;
    --button-border-color-hover: #0A58CA;
    --button-box-shadow-color-hover: #0A58CA;
    --button-disabled-color: #8AF;
    --slider-track-color: #5FF;
    --slider-track-height: 6px;
    --slider-track-boder-radius: 3px;
    --slider-thumb-color: #07F;
    --slider-thumb-width: 16px;
    --slider-thumb-height: 16px;


    display: inline-block;
    width: 100px;
    margin: 10px;

    // Title
    & > label {
        display: table;
        margin-inline: auto;
        margin-bottom: 0.5em;
    }

    // div with buttons and value Display
    & > .slider-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 0.3em;

        // decrement & increment buttons
        & > button {
            width: 27px;
            height: 22px;
            font-size: 10px;
            margin: 0 3px;
            padding: 0 3px;
            border: 1px outset var(--button-border-color);
            border-radius: 50%;
            background-color: var(--button-background-color);
            transition: color linear 0.2s, background-color linear 0.2s, border-color linear 0.2s;

            svg {
                width: 100%;
                height: auto;

                line {
                    stroke: var(--button-stroke-color);
                    stroke-linecap: round;
                }
            }

            &:hover {
                border-color: var(--button-border-color-hover);
                background-color: var(--button-background-color-hover);
                box-shadow: 3px 3px var(--button-box-shadow-color-hover) inset;
            }

            &:disabled {
                width: 26px;
                height: 21px;
                border-color: transparent;
                background-color: var(--button-disabled-color);
                box-shadow: none;
            }
        }

        & > label, input {
            width: calc(100% - 60px);
            text-align: center;
            font-size: 1.1rem;
        }

        // value display text
        & > input {
            border: none;
            outline: none;
            background-color: #0000;
        }
    }

    // slider
    & > input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        height: var(--slider-track-height);
        margin: 0;
        background: var(--slider-track-color);
        border-radius: var(--slider-track-boder-radius);
        opacity: 0.7;
        transition: opacity 0.3s;

        &:hover {
            opacity: 1;
        }

        &:focus {
            outline: none;
        }


        // track
        @mixin track {
            height: var(--slider-track-height);
            background: var(--slider-track-color);
            border-radius: var(--slider-track-boder-radius);
        }

        &::-webkit-slider-runnable-track {
            @include track;
        }

        &::-moz-range-track {
            @include track;
        }


        // thumb
        @mixin thumb {
            -webkit-appearance: none;
            width: var(--slider-thumb-width);
            height: var(--slider-thumb-height);
            border-radius: 50%;
            border: none;
            background: var(--slider-thumb-color);
            cursor: pointer;
        }

        &::-webkit-slider-thumb {
            @include thumb;
            margin-top: calc(var(--slider-track-height) / 2 - var(--slider-thumb-height) / 2);
        }

        &::-moz-range-thumb {
            @include thumb;
        }
    }
}
