@page
@namespace ManualTesting.Server
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ManualTesting.Client
@using ManualTesting.Client.Services

@{
    if (!HttpContext.Request.Cookies.TryGetValue(CBox.COOKIE_KEY_LANGUAGE, out string? languageString) || !ILanguageProvider.TryParse(languageString, out Language language))
        // no or invalid cookie
        language = ILanguageProvider.GetLanguage(Request.Headers["Accept-Language"].ToString());
}

<!DOCTYPE html>
<html lang="@ILanguageProvider.GetAbbreviation(language)">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Test NoJsBlazor</title>
        <base href="~/" />

        <link rel="stylesheet" href="~/style.min.css" />
        <link rel="stylesheet" href="~/site.css" />
    </head>

    <body>
        <component type="typeof(IRoot)" render-mode="WebAssemblyPrerendered" param-StartLanguage="language" />

        <script src="~/_framework/blazor.webassembly.js"></script>
    </body>
</html>
