@namespace ManualTesting
@inherits PageComponentBase
@page "/aboutme"

<article id="example-site2" class="container-fluid fade-in">
    <header class="headline-div">
        <p>@Lang.Print("About Me", "Über Mich")</p>
    </header>

    <p class="center">@Lang.Print("I'm a rockstar programmer", "Ich bin Rockstar Programmer")!</p>
</article>
