@namespace ManualTesting
@inherits PageComponentBase
@page "/privacy"

<div id="privacy" class="container fade-in">
    <header class="headline-div">
        <p>Datenschutz</p>
    </header>

    <div class="grid-lg-2">
        <section class="half-div">
            <header>
                <p class="headline">Zugriffsdaten</p>
            </header>
            <div class="center">
                <p>Bei jedem Seitenaufruf startet Ihr Browser mehrere Anfragen zum Server. Die Daten jeder Anfrage werden in „Server-Logfiles“ abgespeichert. Folgende Daten werden so protokolliert:</p>
                <ul>
                    <li>Besuchte Website</li>
                    <li>Verwendete IP-Adresse</li>
                    <li>Verwendeter Browser</li>
                    <li>Verwendetes Betriebssystem</li>
                    <li>Zeitpunkt des Zugriffes</li>
                    <li>Menge der gesendeten Daten</li>
                </ul>
                <p>Die erhobenen Daten dienen lediglich für eine nachträgliche Überprüfung, falls sich konkrete Anhaltspunkte auf eine rechtswidrige Nutzung aufweisen lassen.</p>
                <p>Außerdem sendet Ihr Browser einige Daten (Cookies), welche Informationen über Ihre Einstellungen der Seite enthalten. Diese werden ausschließlich dafür benutzt, um die Seite auf dem Server korrekt rendern (grafische Darstellung berechnen) zu können, um die Website schneller darstellen zu können. Diese Informationen werden weder gespeichert noch protokolliert.</p>
            </div>
        </section>

        <section class="half-div">
            <header>
                <p class="headline">Anfrage per Kontaktaufnahme</p>
            </header>
            <p class="center">
                Bei Kontaktaufnahme (E-Mail, Telefon oder Telefax) wird Ihre Anfrage inklusive aller daraus hervorgehenden personenbezogenen Daten zum Zwecke der Bearbeitung Ihres Anliegens gespeichert und verarbeitet. Diese Daten werden nicht ohne Ihre Einwilligung weitergegeben.<br />
                Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) und/oder auf berechtigtes Interesse (Art. 6 Abs. 1 lit. f DSGVO), um die Bearbeitung der an uns gerichteten Anfrage effektiv ausführen zu können.<br />
                Die von Ihnen per Kontaktanfragen übersandten Daten verbleiben, bis Sie Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen – bleiben unberührt.</p>
        </section>

        <section class="half-div">
            <header>
                <p class="headline">Widerspruch gegen Werbung</p>
            </header>
            <p class="center">Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betroffenen behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen vor.</p>
        </section>
    </div>
</div>
