.loader-icon > div {
  position: absolute;
  border-radius: 50%; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes spin-skew {
  from {
    transform: rotate(0deg) skew(-30deg, -30deg); }
  to {
    transform: rotate(360deg) skew(30deg, 30deg); } }

@keyframes ball-color-1 {
  from {
    background-color: red; }
  to {
    background-color: blue; } }

@keyframes ball-color-2 {
  from {
    background-color: blue; }
  to {
    background-color: yellow; } }

@keyframes ball-color-3 {
  from {
    background-color: yellow; }
  to {
    background-color: green; } }

@keyframes ball-color-4 {
  from {
    background-color: green; }
  to {
    background-color: red; } }

@keyframes ball-move-1 {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(-25%, -25%); } }

@keyframes ball-move-2 {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(25%, -25%); } }

@keyframes ball-move-3 {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(-25%, 25%); } }

@keyframes ball-move-4 {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(25%, 25%); } }
