.collapse-arrow {
    --arrow-size: 16px;
    --arrow-stroke-color: #000B;
    --arrow-background-color: #FFFB;


    width: var(--arrow-size);
    height: var(--arrow-size);
    transition: rotate 0.3s;

    & > circle, & > line {
        stroke: var(--arrow-stroke-color);
        stroke-width: 0.6px;
        fill: var(--arrow-background-color);
        stroke-linecap: round;
    }
}

.collapse-toggle:checked ~ .collapse-arrow {
    rotate: 180deg;
}
