@namespace NoJsBlazor

<div class="collapse-div @(Collapsed ? "collapsed" : "collapseable")" @attributes="@Attributes">
    <button class="head" @onclick="HeadClick">
        @Head
    </button>
    <div class="content">
        @Content
    </div>
</div>
