@using Microsoft.AspNetCore.Components.Web

@namespace NoJsBlazor

<div class="collapse-div @(Collapsed ? "collapsed" : "collapseable")" @attributes="@Attributes">
    <button class="head" @onclick="HeadClick">
        @Head
    </button>
    <div class="content-grid">
        <div class="content-inner">
            @Content
        </div>
    </div>
</div>
