.collapse-div {
    --color: #DDE;
    --height-transition-time: 300ms;
    
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--color);

    & > .head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        & > .collapse-toggle {
            display: none;
        }
    }


    & > .content-grid {
        display: grid;
        transition: all var(--height-transition-time) ease-out;

        & > .content-inner {
            overflow: hidden;
        }

        grid-template-rows: 0.0000000001fr; // minifier removes 'fr' when 0 and therefore breaks transition
        padding-top: 0;
        padding-bottom: 0;
    }

    .head:has(.collapse-toggle:checked) + .content-grid {
        grid-template-rows: 1fr;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
