@using Microsoft.AspNetCore.Components.Web

@namespace NoJsBlazor

<div class="collapse-div" @attributes="@Attributes">
    <label class="head" role="button">
        <input type=checkbox class="collapse-toggle" @bind="Expanded">
        @Head
    </label>
    <div class="content-grid">
        <div class="content-inner">
            @Content
        </div>
    </div>
</div>
