*, *::before, *::after {
  font-size: 1.1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
  color: #222;
}

ul {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="12" height="12"><polygon points="0,0 3,5 0,10 10,5"/></svg>');
  margin: 1rem 0;
}

a {
  transition: color 0.1s, text-shadow 0.1s;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: #FFF !important;
  text-shadow: 0 0 5px #000;
  transition: color 0.3s, text-shadow 0.3s;
}

pre {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
  overflow-x: auto;
}
pre .commentary {
  color: #57A64A;
}
pre .outcommented {
  color: #22814C;
}

.headline-big {
  font-family: "Roboto";
  font-weight: 700;
  font-size: calc(1.4rem + 1.5vw);
  line-height: 1.2;
  text-align: center;
  margin: 1.5em auto 2.5em auto;
}

.headline-background {
  display: table;
  margin: 1.5em auto 2em auto;
  font-family: "Roboto";
  font-weight: 700;
  font-size: calc(1.3rem + 0.8vw);
  line-height: 1.3;
  padding: 20px;
  border-radius: 50%;
  color: #4F81BD;
  background-color: #EAF8EA;
}

.headline {
  font-size: calc(1.3rem + 0.6vw);
  line-height: 1.3;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto 1.2em auto;
}

.image-div img, .image-div video {
  width: 100%;
  height: auto;
}
.image-div > p, .image-div > div {
  font-size: 15px;
  line-height: 120%;
  margin-top: 10px;
  margin-bottom: 0;
}

.content-only {
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

.center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.background-div {
  display: inline-block;
  background-color: #EAF8EA;
  margin: 6px;
  padding: 10px;
  border-radius: 10px;
  vertical-align: top;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.horizontal-list li {
  text-align: center;
  margin: 0 5px;
}

button:not(:disabled) {
  cursor: pointer;
}

.button-blue {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 2px outset #EEE;
  border-radius: 0.25rem;
  transition: color linear 0.2s, background-color linear 0.2s, border-color linear 0.2s;
  background-color: #0D6EFD;
  color: #FFF;
}
.button-blue:hover {
  border-color: #0A58CA;
  background-color: #0B5ED7;
  box-shadow: 3px 3px #0A58CA inset;
}
.button-blue:disabled {
  border-color: transparent;
  background-color: #8AF;
  box-shadow: none;
}

.flex-2-columns-sm {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
}
.flex-2-columns-sm > * {
  width: 100%;
}
@media (min-width: 576px) {
  .flex-2-columns-sm > * {
    width: calc(50% - 10px);
  }
}

.flex-2-columns-md {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
}
.flex-2-columns-md > * {
  width: 100%;
}
@media (min-width: 768px) {
  .flex-2-columns-md > * {
    width: calc(50% - 10px);
  }
}

.flex-2-columns-lg {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
}
.flex-2-columns-lg > * {
  width: 100%;
}
@media (min-width: 992px) {
  .flex-2-columns-lg > * {
    width: calc(50% - 10px);
  }
}

.flex-2-columns-xl {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
}
.flex-2-columns-xl > * {
  width: 100%;
}
@media (min-width: 1200px) {
  .flex-2-columns-xl > * {
    width: calc(50% - 10px);
  }
}

.flex-2-columns-xxl {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
}
.flex-2-columns-xxl > * {
  width: 100%;
}
@media (min-width: 1400px) {
  .flex-2-columns-xxl > * {
    width: calc(50% - 10px);
  }
}

@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  src: local("Calibri"), local("Calibri-Regular"), url("../../../fonts/Calibri.woff2") format("woff2");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  src: local("Great Vibes"), local("GreatVibes-Regular"), url("../../../fonts/Great Vibes.woff2") format("woff2");
  unicode-range: U+0041-007A;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../../fonts/Roboto-Bold.woff2") format("woff2");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  src: local("Times New Roman"), local("TimesNewRoman-Regular"), url("../../../fonts/Times New Roman.woff2") format("woff2");
  unicode-range: U+0030-007A;
}
html, body {
  font-family: "Calibri";
  height: 100%;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #EEEEEE;
  background-size: 100%;
}

#app {
  display: inline;
}

#body-container {
  position: relative;
  margin: 0;
  padding: 40px 0 150px 0;
  min-height: 100%;
}

#blazor-error-ui {
  position: fixed;
  inset: auto 0 0 0;
  z-index: 1000;
  display: none;
  background-image: linear-gradient(90deg, #FF7, #FF4, #FF7);
}
#blazor-error-ui > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  padding: 0.6em 1.2em;
}
#blazor-error-ui > div > p {
  margin: 0 0 0 auto;
}
#blazor-error-ui > div > p > span {
  display: inline-block;
}
#blazor-error-ui > div > p > span:first-child {
  margin-right: 0.4em;
}
#blazor-error-ui > div > .dismiss {
  cursor: pointer;
  margin-left: auto;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  transition: stroke 0.1s;
}
#blazor-error-ui > div > .dismiss > line {
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
}
#blazor-error-ui > div > .dismiss:hover > line {
  stroke: #04b;
  transition: stroke 0.3s;
}

.header-navbar, .header-navbar > * {
  --background-image: linear-gradient(90deg, #CCFC, #EEFC, #CCFC);
}

.header-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: var(--background-image);
  z-index: 500;
}

.nav-brand a {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 5px;
  color: var(--font-color);
}
.nav-brand a p {
  margin: 2px 0 0 0;
  font-size: 30px;
  font-family: "Great Vibes", Calibri;
  text-decoration: none;
}
.nav-brand a img, .nav-brand a svg {
  height: 40%;
  width: auto;
  margin-left: 5px;
  border-radius: 50%;
  fill: rgba(0, 0, 0, 0.3);
  transition: background-color 0.1s, fill 0.1s;
}
.nav-brand a:hover img, .nav-brand a:hover svg {
  background-color: #E8E8E8;
  fill: black;
  transition: background-color 0.3s, fill 0.3s;
}

.header-flag {
  height: 30px;
  cursor: pointer;
  opacity: 0.8;
  transition: box-shadow 0.1s;
  border: 2px outset #eee;
}
.header-flag:hover:not(.active) {
  opacity: 1;
  box-shadow: 0 0 10px #88F;
  transition: box-shadow 0.3s;
}
.header-flag.active {
  opacity: 1;
  border: 2px inset #eee;
}

#language-dialog {
  min-width: 180px;
}
#language-dialog p {
  margin: 0;
}
#language-dialog > .title {
  justify-content: center;
  padding: 0.4em;
}
#language-dialog > .content {
  padding: 0;
}
#language-dialog > .content > button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.25em;
  border: none;
}
#language-dialog > .content > button > * {
  flex-basis: 100%;
}
#language-dialog > .content > button > svg {
  height: 25px;
}
#language-dialog > .content > .selected {
  background-color: #07D;
}

#home > section > p {
  color: green;
}
