@namespace NoJsBlazor
@inherits ListableComponentBase<ContextSubMenu>

<li class="context-element">
    <div class="context-div" role="button" @ontouchstart="dropRightTC.OnTouchStart">
        <CascadingValue Name="Head" Value="true" IsFixed="true">
            @Head
        </CascadingValue>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" class="context-arrow @(Expanded ? "expanded" : string.Empty)">
            <polygon fill="%23000B" points="0,0 5,10 10,0 5,3" />
        </svg>
    </div>
    <ul class="context-menu @(Expanded ? "expanded" : string.Empty)">
        @Items
    </ul>
</li>
