@using Microsoft.AspNetCore.Components.Web

@namespace NoJsBlazor
@inherits ListableComponentBase<ContextSubMenu>

<li class="context-element">
    <label class="context-submenu-toggle" role="button">
        <CascadingValue Name="Head" Value="true" IsFixed="true">
            @Head
        </CascadingValue>
        <input type=checkbox class="context-submenu-checkbox" @bind="Expanded" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" class="context-arrow">
            <polygon fill="%23000B" points="0,0 5,10 10,0 5,3" />
        </svg>
    </label>
    <menu class="context-menu-list">
        @Items
    </menu>
</li>
