@using Microsoft.AspNetCore.Components.Web

@namespace NoJsBlazor
@inherits ListholdingComponentBase<ContextSubMenu>

<div class="context-menu" @attributes="@Attributes" style="top: @(top)px; left: @(left)px; @AddStyles()">
    <input type=checkbox class="context-menu-checkbox" @bind="Expanded">
    <menu class="context-menu-list">
        <CascadingValue Name="Parent" Value="(ListholdingComponentBase<ContextSubMenu>)this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </menu>
</div>
