.context-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 5px;
  margin: 0;
  z-index: 999;
  background-image: linear-gradient(90deg, rgba(200, 200, 255, 0.8), rgba(230, 230, 255, 0.8), rgba(200, 200, 255, 0.8));
  border-radius: 10px;
  transform: rotate3d(1, 0, 0, 90deg);
  transition: transform 0.2s; }
  .context-menu .context-item {
    display: grid;
    grid-template-columns: auto 10px;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    color: #000;
    cursor: pointer;
    transition: color 0.1s;
    transition: text-shadow 0.1s; }
    .context-menu .context-item p {
      display: inline-block;
      margin: 0 10px 0 0;
      white-space: nowrap; }
    .context-menu .context-item div {
      display: contents; }
    .context-menu .context-item:hover > p, .context-menu .context-item:hover > span, .context-menu .context-item:hover > div p, .context-menu .context-item:hover > div span, .context-menu .context-item:active > p, .context-menu .context-item:active > span, .context-menu .context-item:active > div p, .context-menu .context-item:active > div span {
      transition: color 0.3s;
      transition: text-shadow 0.3s;
      color: #FFF !important;
      text-shadow: 0 0 5px #000; }
    .context-menu .context-item:hover .dropright-arrow, .context-menu .context-item:active .dropright-arrow {
      fill: #D8D8D8; }
    .context-menu .context-item .dropright-menu {
      position: absolute;
      top: -5px;
      left: 100%;
      margin: 0;
      padding: 5px 0 5px 5px;
      background-image: linear-gradient(90deg, rgba(200, 200, 255, 0.8), rgba(230, 230, 255, 0.8), rgba(200, 200, 255, 0.8));
      border-radius: 10px;
      transform: rotate3d(1, 0, 0, 90deg);
      transition: transform 0.2s; }

.context-item.dropright {
  cursor: default; }
  .context-item.dropright > p {
    width: 90%; }
  .context-item.dropright:hover > .dropright-menu {
    transform: rotate3d(1, 1, 1, 0deg); }

.context-menu.expanded, .dropright-menu.expanded {
  transform: rotate3d(1, 1, 1, 0deg) !important; }

.context-menu .dropright-arrow {
  width: 10px;
  height: 10px;
  margin-top: 2px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><polygon fill='rgb(0,0,0,0.7)' points='0,0 3,5 0,10 10,5'/></svg>");
  background-repeat: no-repeat; }

.context-menu .context-item.dropright:hover > div > .dropright-arrow {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><polygon fill='rgb(255,255,255,0.7)' stroke='black' stroke-width='1' points='0,0 3,5 0,10 10,5'/></svg>");
  background-repeat: no-repeat; }
