@namespace NoJsBlazor
@inherits ProgressBar

<div class="circle-progress-bar" @attributes="@Attributes">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 200 200" role="img">
        <desc>Shows the loading progress.</desc>

        <circle cx="0" cy="0" r="99" />
        <g>
            @if (Progress < 1.0) {
                double alpha = 2 * Math.PI * Progress;

                double coordinateX = Math.Sin(alpha);
                double coordinateY = -Math.Cos(alpha);
                int overHalfBit = alpha > Math.PI ? 1 : 0;
                
                <path d="M 0 -1 A 1 1 0 @overHalfBit 1 @coordinateX @coordinateY L 0 0 L 0 -1" />
            }
            else {
                <circle cx="0" cy="0" r="1" />
            }
        </g>
    </svg>
    <p class="center">@Text</p>
</div>
