.circle-progress-bar {
    --border-color: #444;

    & > svg {
        & > circle {
            fill: none;
            stroke: var(--border-color);
        }
    }

    // text under the bar
    & > p {
        margin-top: 0.15em;
        font-size: 1.125rem;
    }
}