.speedometer-progress-bar {
    --border-color: #444;
    --middle-circle-color: #0006;
    --meter-width: 5;
    --meter-transition-speed: 500ms;

    & > svg {
        & > .inner-circle {
            fill: var(--middle-circle-color);
            stroke: none;
        }

        & > .outer-circle {
            stroke: var(--border-color);
            fill: none;  
        }

        & > .meter {
            stroke-width: var(--meter-width);
            stroke-linecap: round;
            transition: rotate ease-out var(--meter-transition-speed);
        }
    }

    // text under the bar
    & > p {
        margin-top: 0.15em;
        font-size: 1.125rem;
    }
}
