@namespace NoJsBlazor
@inherits ProgressBar

<div class="standard-progress-bar" @attributes="@Attributes">
    <div role="img" alt="Shows the loading progress.">
        <div>
            <div style="width: @(Progress * 100.0f)%;"></div>
        </div>
    </div>

    <p class="center">@Text</p>
</div>
