.standard-progress-bar {
    --width: 300px;
    --height: 20px;

    --bar-color: #08F;
    --border-color: #444;

    --border-radius: 20px;
    --bar-margin: 0.125em;
    --bar-transition-speed: 300ms;

    // border of bar
    & > div {
        border: solid 1px var(--border-color);
        border-radius: var(--border-radius);

        // bar track
        & > div {
            width: var(--width);
            height: var(--height);
            margin: var(--bar-margin);
            border-radius: var(--border-radius);
            overflow: hidden;

            // bar itself
            & > div {
                height: 100%;
                background-color: var(--bar-color);
                transition: width ease-in-out var(--bar-transition-speed);
            }
        }
    }

    // text under the bar
    & > p {
        margin-top: 0.15em;
        font-size: 1.125rem;
    }
}
