.standard-progress-bar {
    --border-color: #444;
    --border-radius: 20px;
    --bar-margin: 0.125em;
    --bar-transition-speed: 300ms;

    // border of bar
    & > div {
        border: solid 1px var(--border-color);
        border-radius: var(--border-radius);

        // bar itself
        & > div {
            margin: var(--bar-margin);
            border-radius: var(--border-radius);
            transition: border-left ease-in-out var(--bar-transition-speed);
        }
    }

    // text under the bar
    & > p {
        margin-top: 0.15em;
        font-size: 1.125rem;
    }
}
