// Carlito

@font-face {
    font-family: "Carlito";
    font-weight: normal;
    font-style: normal;
    unicode-range: U+000D-FEFF;
    src: local("Carlito"), local("Carlito Regular"), local("Carlito-Regular"),
        url("../fonts/Carlito/Carlito-Regular.ttf") format("truetype"),
        url("../fonts/Carlito/Carlito-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Carlito";
    font-weight: bold;
    font-style: normal;
    unicode-range: U+000D-FEFF;
    src: local("Carlito Bold"), local("Carlito-Bold"),
        url("../fonts/Carlito/Carlito-Bold.ttf") format("truetype"),
        url("../fonts/Carlito/Carlito-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Carlito";
    font-weight: normal;
    font-style: italic;
    unicode-range: U+000D-FEFF;
    src: local("Carlito Italic"), local("Carlito-Italic"),
        url("../fonts/Carlito/Carlito-Italic.ttf") format("truetype"),
        url("../fonts/Carlito/Carlito-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Carlito";
    font-weight: bold;
    font-style: italic;
    unicode-range: U+000D-FEFF;
    src: local("Carlito BoldItalic"), local("Carlito-BoldItalic"),
        url("../fonts/Carlito/Carlito-BoldItalic.ttf") format("truetype"),
        url("../fonts/Carlito/Carlito-BoldItalic.woff2") format("woff2");
}



// DejaVu-Serif

@font-face {
    font-family: "DejaVu-Serif";
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-1D7E1;
    src: local("DejaVu Serif"), local("DejaVu Serif Regular"), local("DejaVu-Serif-Regular"),
        url("../fonts/DejaVu-Serif/DejaVu-Serif-Regular.ttf") format("truetype"),
        url("../fonts/DejaVu-Serif/DejaVu-Serif-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "DejaVu-Serif";
    font-weight: bold;
    font-style: normal;
    unicode-range: U+0020-1D7E1;
    src: local("DejaVu Serif Bold"), local("DejaVu-Serif-Bold"),
        url("../fonts/DejaVu-Serif/DejaVu-Serif-Bold.ttf") format("truetype"),
        url("../fonts/DejaVu-Serif/DejaVu-Serif-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "DejaVu-Serif";
    font-weight: normal;
    font-style: italic;
    unicode-range: U+0020-1D7E1;
    src: local("DejaVu Serif Italic"), local("DejaVu-Serif-Italic"),
        url("../fonts/DejaVu-Serif/DejaVu-Serif-Italic.ttf") format("truetype"),
        url("../fonts/DejaVu-Serif/DejaVu-Serif-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "DejaVu-Serif";
    font-weight: bold;
    font-style: italic;
    unicode-range: U+0020-1D7E1;
    src: local("DejaVu Serif BoldItalic"), local("DejaVu-Serif-BoldItalic"),
        url("../fonts/DejaVu-Serif/DejaVu-Serif-BoldItalic.ttf") format("truetype"),
        url("../fonts/DejaVu-Serif/DejaVu-Serif-BoldItalic.woff2") format("woff2");
}



// Fira Code

@font-face {
    font-family: "Fira Code";
    font-weight: normal;
    font-style: normal;
    unicode-range: U+000D-1F310;
    src: local("Fira Code"), local("Fira Code Regular"), local("Fira-Code-Regular"),
        url("../fonts/Fira-Code/Fira-Code-Regular.ttf") format("truetype"),
        url("../fonts/Fira-Code/Fira-Code-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Fira Code";
    font-weight: bold;
    font-style: normal;
    unicode-range: U+000D-1F310;
    src: local("Fira Code Bold"), local("Fira-Code-Bold"),
        url("../fonts/Fira-Code/Fira-Code-Bold.ttf") format("truetype"),
        url("../fonts/Fira-Code/Fira-Code-Bold.woff2") format("woff2");
}



// Fira-Sans

@font-face {
    font-family: "Fira-Sans";
    font-weight: normal;
    font-style: normal;
    unicode-range: U+000D-1F310;
    src: local("Fira Sans"), local("Fira Sans Regular"), local("Fira-Sans-Regular"),
        url("../fonts/Fira-Sans/Fira-Sans-Regular.ttf") format("truetype"),
        url("../fonts/Fira-Sans/Fira-Sans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Fira-Sans";
    font-weight: bold;
    font-style: normal;
    unicode-range: U+000D-1F310;
    src: local("Fira Sans Bold"), local("Fira-Sans-Bold"),
        url("../fonts/Fira-Sans/Fira-Sans-Bold.ttf") format("truetype"),
        url("../fonts/Fira-Sans/Fira-Sans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Fira-Sans";
    font-weight: normal;
    font-style: italic;
    unicode-range: U+000D-1F310;
    src: local("Fira Sans Italic"), local("Fira-Sans-Italic"),
        url("../fonts/Fira-Sans/Fira-Sans-Italic.ttf") format("truetype"),
        url("../fonts/Fira-Sans/Fira-Sans-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Fira-Sans";
    font-weight: bold;
    font-style: italic;
    unicode-range: U+000D-1F310;
    src: local("Fira Sans BoldItalic"), local("Fira-Sans-BoldItalic"),
        url("../fonts/Fira-Sans/Fira-Sans-BoldItalic.ttf") format("truetype"),
        url("../fonts/Fira-Sans/Fira-Sans-BoldItalic.woff2") format("woff2");
}



// Great Vibes

@font-face {
    font-family: "Great Vibes";
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-FB04;
    src: local("Great Vibes"), local("Great Vibes Regular"), local("GreatVibes-Regular"),
        url("../fonts/GreatVibes/GreatVibes-Regular.ttf") format("truetype"),
        url("../fonts/GreatVibes/GreatVibes-Regular.woff2") format("woff2");
}



// Roboto

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0002-FFFD;
    src: local("Roboto"), local("Roboto Regular"), local("Roboto-Regular"),
        url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
        url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
    unicode-range: U+0002-FFFD;
    src: local("Roboto Bold"), local("Roboto-Bold"),
        url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
        url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: italic;
    unicode-range: U+0002-FFFD;
    src: local("Roboto Italic"), local("Roboto-Italic"),
        url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype"),
        url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    unicode-range: U+0002-FFFD;
    src: local("Roboto BoldItalic"), local("Roboto-BoldItalic"),
        url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"),
        url("../fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2");
}
