*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Carlito";
    font-size: 1.1rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    color: #222;
    outline: none;
}

ul {
    list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="12" height="12"><polygon points="0,0 3,5 0,10 10,5"/></svg>');
    margin: 1rem 0;
}

a {
    transition: color 0.1s, text-shadow 0.1s;

    &:link {
        text-decoration: none;
    }

    &:hover {
        color: #FFF !important;
        text-shadow: 0 0 5px #000;
        transition: color 0.3s, text-shadow 0.3s;
    }
}

pre {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    background-color: rgb(30, 30, 30);
    color: white;
    overflow-x: auto;

    .commentary {
        color: #57A64A;
    }

    .outcommented {
        color: #22814C;
    }
}

img {
    width: 100%;
    height: auto;
}
