$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


@mixin grid-2($column-left, $column-right) {
    display: grid;
    grid-template-columns: $column-left $column-right;
    gap: 40px;
}

@mixin grid-2-condition($column-left, $column-right, $width) {
    @include grid-2($column-left, $column-right);

    @media (width <= $width) {
        grid-template-columns: 100%;
    }
}

.grid-2 { @include grid-2(50%, 50%); }
.grid-sm-2 { @include grid-2-condition(50%, 50%, $sm); }
.grid-md-2 { @include grid-2-condition(50%, 50%, $md); }
.grid-lg-2 { @include grid-2-condition(50%, 50%, $lg); }
.grid-xl-2 { @include grid-2-condition(50%, 50%, $xl); }
.grid-xxl-2 { @include grid-2-condition(50%, 50%, $xxl); }

.grid-2-auto { @include grid-2(auto, auto); }
.grid-sm-2-auto { @include grid-2-condition(auto, auto, $sm); }
.grid-md-2-auto { @include grid-2-condition(auto, auto, $md); }
.grid-lg-2-auto { @include grid-2-condition(auto, auto, $lg); }
.grid-xl-2-auto { @include grid-2-condition(auto, auto, $xl); }
.grid-xxl-2-auto { @include grid-2-condition(auto, auto, $xxl); }


@mixin grid-span-2() {
    grid-column: 1 / span 2;
}

@mixin grid-span-2-condition($width) {
    @include grid-span-2();

    @media (width <= $width) {
        grid-column: 1;
    }
}

.grid-span-2 { @include grid-span-2(); }
.grid-sm-span-2 { @include grid-span-2-condition($sm); }
.grid-md-span-2 { @include grid-span-2-condition($md); }
.grid-lg-span-2 { @include grid-span-2-condition($lg); }
.grid-xl-span-2 { @include grid-span-2-condition($xl); }
.grid-xxl-span-2 { @include grid-span-2-condition($xxl); }
