@namespace ManualTesting

<footer>
    <ul>
        <li><NavLink href="AboutMe">@CBox.LPrint("About Me", "Über Mich")</NavLink></li>
        <li><NavLink href="Impressum">Impressum</NavLink></li>
        <li><NavLink href="Privacy">@CBox.LPrint("Privacy", "Datenschutz")</NavLink></li>
        <li><p style="font-size: 15px; color: black; opacity: 0.8;">@($"© {@DateTime.Now.Year} MyWebsite")</p></li>
    </ul>
</footer>

@code {
    /// <summary>
    /// <para>This will notify this component to Rerender.</para>
    /// <para>Technically only StateHasChanged() is called.</para>
    /// </summary>
    public void Rerender() {
        StateHasChanged();
    }
}
