@using ManualTesting.Client.Services

@namespace ManualTesting.Client

<DynamicComponent Type="FlagComponentType" Parameters="FlagHeaderParameters" />


@code {
    public void RenderLanguageDialog(RenderTreeBuilder __builder) {
        <Dialog @ref="dialog" ModalScreen="false" id="language-dialog" @onclick:stopPropagation>
            <Title>
                <DynamicComponent Type="FlagComponentType" />
                <p>@Lang.Print("Select Language", "Sprache Wählen")</p>
            </Title>
            <Content>
                <button class="@(Lang.Language == Language.English ? "selected" : string.Empty)" @onclick="_ => SetLanguage(Language.English)">
                    <UKFlag />
                    <p>English</p>
                </button>
                <button class="@(Lang.Language == Language.German ? "selected" : string.Empty)" @onclick="_ => SetLanguage(Language.German)">
                    <GermanFlag />
                    <p>Deutsch</p>
                </button>
            </Content>
        </Dialog>
    }


    public LanguageFlagIcon() {
        _flagHeaderParameters = new(3) {
            ["class"] = "flag",
            ["role"] = "button",
            ["onclick"] = EventCallback.Factory.Create<MouseEventArgs>(this, ToggleLanguageDialog)
        };
    }
    
    private Dictionary<string, object> _flagHeaderParameters;
    private Dictionary<string, object> FlagHeaderParameters {
        get {
            if (dialog?.Active ?? false)
                _flagHeaderParameters["class"] = "header-flag active";
            else
                _flagHeaderParameters["class"] = "header-flag";

            return _flagHeaderParameters;
        }
    }

    private Type FlagComponentType => Lang.Language switch {
        Language.English => typeof(UKFlag),
        Language.German => typeof(GermanFlag),
        _ => throw new Exception("invalid enum or not all enums are present in this switch")
    };
}
