.header-flag {
    height: 30px;
    cursor: pointer;
    opacity: 0.8;
    transition: box-shadow 0.1s;
    border: 2px outset #eee;
    border-radius: 2px;

    &:hover:not(.active) {
        opacity: 1;
        box-shadow: 0 0 10px #88F;
        transition: box-shadow 0.3s;
    }

    &.active {
        opacity: 1;
        border: 2px inset #eee;
    }
}

#language-dialog {
    min-width: 11em;

    p {
        margin: 0;
    }

    & > .title {
        justify-content: center;
        padding: 0.4em;

        svg {
            height: 1em;
            margin-right: 0.5em;
        }
    }

    & > .content {
        padding: 0;

        & > button {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1.25em;
            border: none;

            & > * {
                flex-basis: 100%;
            }

            & > svg {
                height: 2em;
            }
        }
        
        & > .selected {
            background-color: #07D;
        }
    }
}
