.carousel {
    --swap-duration: 500ms;

    --overlay-position: auto auto 20% 20%;

    --arrow-left-position: 0 auto 0 5%;
    --arrow-right-position: 0 5% 0 auto;
    --arrow-size: 6%;
    --arrow-color: #FFF;

    --indicator-list-position: auto 0 1em 0;
    --indicator-list-width: 60%;
    --indicator-gap: 5px;
    --indicator-color: #FFF;
    --indicator-progress-color: #0AA;

    --play-button-position: auto auto calc(1em + 25px) 15%;
    --play-button-size: 6%;
    --play-button-color: #FFF;


    position: relative;

    & > .carousel-content {
        display: grid;
        overflow: hidden;

        & > .carousel-element {
            grid-row: 1;
            grid-column: 1;
            z-index: 10;
            transition: opacity ease-out var(--swap-duration);

            img {
                // all images should have the same aspect ratios, otherwise ugly height changes happens
                // width should not be modified
                width: 100%;
                height: auto;
            }

            &.slide {
                transition: translate ease-out var(--swap-duration), rotate ease-out var(--swap-duration);
            }
        }
    }


    & > .carousel-overlay {
        position: absolute;
        inset: var(--overlay-position);
        z-index: 30;
    }

    & > .carousel-arrow {
        position: absolute;
        margin: auto;
        width: auto;
        height: calc(var(--arrow-size) + 20px);
        padding: 10px;
        opacity: 0.5;
        cursor: pointer;
        z-index: 40;
        transition: opacity 0.3s;

        & > line {
            stroke: var(--arrow-color);
            stroke-width: 2;
            stroke-linecap: round;
        }
    
        &:hover {
            opacity: 0.9;
        }

        &.prev {
            inset: var(--arrow-left-position);
        }

        &.next {
            inset: var(--arrow-right-position);
        }
    }

    & > .carousel-indicator-list {
        position: absolute;
        inset: var(--indicator-list-position);
        margin: auto;
        padding: 0;
        width: var(--indicator-list-width);
        display: flex;
        flex-direction: row;
        gap: var(--indicator-gap);
        list-style: none;
        z-index: 40;

        & > li {
            flex-grow: 1;
            cursor: pointer;

            & > div {
                height: 5px;
                margin: 10px 0;
                background-color: var(--indicator-color);
                border-radius: 5px;
                overflow: hidden;
                opacity: 0.5;
                transition: opacity 0.1s;

                // progressbar
                & > div {
                    width: 0;
                    height: 100%;
                    background-color: var(--indicator-progress-color);
                }
            }

            & > .active {
                opacity: 1;
                transition: opacity 0.3s;

                & > .active {
                    width: 100%;
                }
            }

            &:hover > div {
                transition: opacity 0.3s;
                opacity: 1;
            }
        }
    }

    & > .carousel-play-button {
        position: absolute;
        inset: var(--play-button-position);
        width: auto;
        height: calc(var(--play-button-size) + 20px);
        padding: 10px;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.3s;
        z-index: 50;
        fill: var(--play-button-color);
        stroke: var(--play-button-color);
        stroke-linecap: round;
        stroke-linejoin: round;

        & > line {
            stroke-width: 40%; // 0.8
        }
    
        & > polygon {
            stroke-width: 20%; // 0.4
        }
    
        &.pause > polygon {
            display: none;
        }

        &.play > line {
            display: none;
        }
    
        &:hover {
            opacity: 0.9;
        }
    }
}
