@using Microsoft.AspNetCore.Components.Web

@namespace NoJsBlazor
@inherits InputBase<string>

<div class="input-field-container @CssClass" @attributes="@AdditionalAttributes">
    @((RenderFragment)RenderInputAndLabel)
</div>
