.input-field-container {
    --input-width: 12.5em;
    --padding-top-bottom: 0.6em;
    --padding-left-right: 1.2em;
    --label-top-offset-left: 0.5em;
    --background-color: #FFF;
    --border-color: #444;
    --focus-color: #00F;


    position: relative;
    display: table;
    margin: 20px auto;

    & > input {
        position: relative;
        width: var(--input-width);
        padding: var(--padding-top-bottom) var(--padding-left-right);
        background-color: var(--background-color);
        border: solid var(--border-color) 1px;
        border-radius: 1.5em;
        outline: none;

        &:focus {
            box-shadow: 0 0 1px var(--focus-color);
        }
    }

    & > label {
        position: absolute;
        left: var(--padding-left-right);
        top: 50%;
        translate: 0 -50%;
        font-size: 1em;
        opacity: 0.7;
        background: linear-gradient(180deg, #0000 49%, var(--background-color) 1%, var(--background-color));
        pointer-events: none;
        transition: all 0.3s;
    }

    & > input:focus + label, .filled-input-label {
        top: 0;
        translate: var(--label-top-offset-left) -50%;
        font-size: 0.8em;
        padding: 0 0.2em;
        opacity: 1;
        transition: all 0.2s;
    }

    & > input:focus + label {
        color: var(--focus-color);
    }
}
