*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  line-height: 1.5;
  margin: 0;
  color: #222;
  background: #EEE;
}

#blazor-error-ui {
  position: fixed;
  inset: auto 0 0 0;
  z-index: 1000;
  display: none;
  background-image: linear-gradient(90deg, #FF7, #FF4, #FF7);
}
#blazor-error-ui > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  padding: 0.6em 1.2em;
}
#blazor-error-ui > div > p {
  margin: 0 0 0 auto;
}
#blazor-error-ui > div > p > span {
  display: inline-block;
}
#blazor-error-ui > div > p > span:first-child {
  margin-right: 0.4em;
}
#blazor-error-ui > div > .dismiss {
  cursor: pointer;
  margin-left: auto;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  transition: stroke 0.1s;
}
#blazor-error-ui > div > .dismiss > line {
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
}
#blazor-error-ui > div > .dismiss:hover > line {
  stroke: #04b;
  transition: stroke 0.3s;
}

a:hover {
  color: #fff !important;
  text-shadow: 0 0 5px #000;
  transition: color 0.3s, text-shadow 0.3s;
}

#root {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 40px 0 150px 0;
}
#root #app-load-progress {
  position: fixed;
  inset: 10% max(5%, 30px) auto auto;
  z-index: 997;
}
#root #app-load-progress .load-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 998;
  border-radius: 50%;
  background-image: radial-gradient(rgba(0, 0, 0, 0) calc(100% - var(--blazor-load-percentage, 0%)), rgba(0, 0, 0, 0.8666666667) calc(100% - var(--blazor-load-percentage, 0%)), rgba(255, 255, 255, 0.1333333333));
}
#root #app-load-progress:after {
  content: var(--blazor-load-percentage-text);
  position: absolute;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
  z-index: 999;
  font-size: 0.9em;
  color: white;
  text-shadow: 1px 1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, -1px -1px 1px #333;
}

.header-navbar, .header-navbar > * {
  --background-image: linear-gradient(90deg, #CCFC, #EEFC, #CCFC);
}

.header-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: var(--background-image);
  z-index: 500;
}

.nav-brand a {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 5px;
  color: var(--font-color);
}
.nav-brand a p {
  color: inherit;
  margin: 2px 0 0 0;
  font-size: 30px;
  font-family: "Great Vibes", Calibri;
  text-decoration: none;
}
.nav-brand a img, .nav-brand a svg {
  height: 40%;
  width: auto;
  margin-left: 5px;
  border-radius: 50%;
  fill: rgba(0, 0, 0, 0.3333333333);
  transition: background-color 0.1s, fill 0.1s;
}
.nav-brand a:hover img, .nav-brand a:hover svg {
  background-color: #E8E8E8;
  fill: black;
  transition: background-color 0.3s, fill 0.3s;
}

.headline-background {
  display: table;
  margin: 1.5em auto 2em auto;
  font-family: "Roboto";
  font-weight: 700;
  font-size: calc(1.3rem + 0.8vw);
  line-height: 1.3;
  padding: 20px;
  border-radius: 50%;
  color: #4F81BD;
  background-color: #EAF8EA;
}

.headline {
  font-size: calc(1.3rem + 0.6vw);
  line-height: 1.3;
  text-align: center;
  margin: 1.4em auto 1.2em auto;
}

.center {
  display: table;
  margin-inline: auto;
}

.container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

button:not(:disabled) {
  cursor: pointer;
}

.btn-main {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 2px outset #EEE;
  border-radius: 0.25rem;
  color: #FFF;
  background-color: #17F;
  transition: color linear 0.2s, background-color linear 0.2s, border linear 0.2s;
}
.btn-main:hover {
  background-color: #16E;
  border: 2px inset #EEE;
}
.btn-main:disabled {
  background-color: #8AF;
  box-shadow: none;
  border: none;
  margin: 2px;
}

.btn-second {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 2px outset #EEE;
  border-radius: 0.25rem;
  color: #FFF;
  background-color: #1AF;
  transition: color linear 0.2s, background-color linear 0.2s, border linear 0.2s;
}
.btn-second:hover {
  background-color: #3CF;
  border: 2px inset #EEE;
}
.btn-second:disabled {
  background-color: #ADF;
  box-shadow: none;
  border: none;
  margin: 2px;
}

.btn-info {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 2px outset #EEE;
  border-radius: 0.25rem;
  color: #FFF;
  background-color: #23F;
  transition: color linear 0.2s, background-color linear 0.2s, border linear 0.2s;
}
.btn-info:hover {
  background-color: #00F;
  border: 2px inset #EEE;
}
.btn-info:disabled {
  background-color: #99F;
  box-shadow: none;
  border: none;
  margin: 2px;
}

.btn-deny {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 2px outset #EEE;
  border-radius: 0.25rem;
  color: #FFF;
  background-color: #060;
  transition: color linear 0.2s, background-color linear 0.2s, border linear 0.2s;
}
.btn-deny:hover {
  background-color: #040;
  border: 2px inset #EEE;
}
.btn-deny:disabled {
  background-color: #7B7;
  box-shadow: none;
  border: none;
  margin: 2px;
}

.btn-cancel {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 2px outset #EEE;
  border-radius: 0.25rem;
  color: #FFF;
  background-color: #444;
  transition: color linear 0.2s, background-color linear 0.2s, border linear 0.2s;
}
.btn-cancel:hover {
  background-color: #222;
  border: 2px inset #EEE;
}
.btn-cancel:disabled {
  background-color: #888;
  box-shadow: none;
  border: none;
  margin: 2px;
}

.btn-danger {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 2px outset #EEE;
  border-radius: 0.25rem;
  color: #FFF;
  background-color: #d34;
  transition: color linear 0.2s, background-color linear 0.2s, border linear 0.2s;
}
.btn-danger:hover {
  background-color: #e12;
  border: 2px inset #EEE;
}
.btn-danger:disabled {
  background-color: #E77;
  box-shadow: none;
  border: none;
  margin: 2px;
}
