@using Microsoft.AspNetCore.Components.Web

@namespace NoJsBlazor
@inherits ListholdingComponentBase<NavBarMenu>

<nav class="@NavRootClass" @attributes="@Attributes">
    <label class="nav-toggle" role="button">
        <input type=checkbox class="nav-toggle-checkbox" @bind="Expanded" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="nav-toggle-icon" aria-label="Toggle navigation">
            <line class="bar" x1='4' y1='7' x2='26' y2='7'/>
            <line class="bar" x1='4' y1='15' x2='26' y2='15'/>
            <line class="bar" x1='4' y1='23' x2='26' y2='23'/>
            <line class="cross" x1='4' y1='7' x2='26' y2='23' />
            <line class="cross" x1='4' y1='23' x2='26' y2='7' />
        </svg>
    </label>
    
    @if (Brand != null) {
        <div class="nav-brand" @onclick="Reset">@Brand</div>
    }

    <ul class="nav-list">
        <CascadingValue Name="Parent" Value="(ListholdingComponentBase<NavBarMenu>)this" IsFixed="true">
            @Items
        </CascadingValue>
    </ul>
</nav>
