@namespace NoJsBlazor

@if (Head) {
    @ChildContent
}
else {
    <li class="nav-item">
        @ChildContent
    </li>
}

@code {
    /// <summary>
    /// Will be automatically set by the parent.
    /// </summary>
    [CascadingParameter(Name = "Head")]
    [System.Diagnostics.CodeAnalysis.AllowNull]
    public bool Head { get; init; }

    /// <summary>
    /// Html that will be displayed.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
