/**
 *  nav-root
 *    nav-toggle
 *    nav-brand
 *      ...
 *    nav-list
 *      nav-element
 *        nav-div
 *          ...
 *          nav-dropdown-arrow
 *        nav-dropdown
 *          nav-element
 *            nav-div
 *              ...
 *              nav-dropdown-arrow
 *            nav-dropdown
 *                nav-element
 *                  ...
 **/


@mixin nav-content($breakpoint) {
    --phone-menu-max-width: 330px;
    --phone-menu-max-height: calc(100vh - 100px);
    --phone-nav-dropdown-transition-max-height: 500px;

    --background-image: linear-gradient(90deg, rgba(200, 200, 255, 0.8), rgba(230, 230, 255, 0.8), rgba(200, 200, 255, 0.8));
    --font-color: #000;

    --desktop-link-padding: 13px;
    --vertical-link-padding: 8px;

    --phone-button-size: 65%;
    --phone-button-color: #000B;
    --phone-hover-shadow: 0 0 10px #88F;

    --arrow-down-size: 12px;
    --arrow-right-size: 10px;
    --arrow-desktop-color: #000B;
    --arrow-desktop-hover-color: #FFFB;
    --arrow-desktop-hover-stroke: #000;

    --arrow-phone-size: 35px;
    --arrow-phone-color: #000B;
    --arrow-phone-color-hover: #FFFB;

    // cannot invert value to get -desktop-dropdown-padding in css variable
    $desktop-dropdown-padding: 5px;



    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: 18px;

    .nav-brand {
        height: 100%;
    }

    .nav-toggle {
        display: none;
    }

    .nav-list {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .nav-element {
        position: relative;
        height: 100%;
        padding: 0 $desktop-dropdown-padding;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover > .nav-dropdown {
            rotate: none;
        }
    }

    .nav-div {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-dropdown {
        position: absolute;
        top: 100%;
        margin: 0;
        padding: $desktop-dropdown-padding 0;
        display: flex;
        flex-direction: column;
        background-image: var(--background-image);
        z-index: 900;
        border-radius: 5px;
        rotate: x 90deg;
        transition: rotate 0.2s;

        .nav-dropdown {
            top: -$desktop-dropdown-padding;
            left: 100%;
        }
    }

    .nav-a {
        padding: var(--vertical-link-padding) var(--desktop-link-padding);
        margin: auto 0;
        color: var(--font-color);
        white-space: nowrap;
        text-decoration: none;

        &.active {
            font-weight: 700;
        }
    }


    // desktop view little down arrow at top level mwnu
    .nav-dropdown-arrow {
        width: var(--arrow-down-size);
        height: auto;
        margin-left: calc(5px - var(--desktop-link-padding));
        margin-right: var(--desktop-link-padding);
        cursor: auto;
        transition: all 0.1s linear;

        & > polygon {
            fill: var(--arrow-desktop-color);
        }

        & > circle, & > line {
            display: none;
        }
    }

    .nav-element:hover > .nav-div > .nav-dropdown-arrow {
        translate: 0 3px;

        & > polygon {
            fill: var(--arrow-desktop-hover-color);
            stroke: var(--arrow-desktop-hover-stroke);
        }
    }

    // desktop view little right arrow at submenus
    .nav-dropdown {
        .nav-dropdown-arrow {
            width: var(--arrow-right-size);
            height: auto;
            margin: 0px 5px 0 2px;
            rotate: 270deg;
        }

        .nav-element:hover > .nav-div > .nav-dropdown-arrow {
            translate: 3px;
            rotate: 270deg;
        }
    }


    @media (max-width: $breakpoint) {
        .nav-toggle {
            display: unset;
            width: auto;
            height: var(--phone-button-size);
            cursor: pointer;
            background-color: transparent;
            border: 2px outset #EEE;
            transition: box-shadow 0.1s;

            & > line {
                stroke: var(--phone-button-color);
                stroke-width: 2;
                stroke-linecap: round;
            }

            &:hover:not(.expanded) {
                box-shadow: var(--phone-hover-shadow);
                transition: box-shadow 0.3s;
            }
            
            &.expanded {
                border: 2px inset #EEE;
            }
        }

        .nav-list {
            position: absolute;
            inset: 100% 0 auto 0;
            margin: 0 auto;
            max-width: var(--phone-menu-max-width);
            max-height: var(--phone-menu-max-height);
            flex-direction: column;
            height: unset;
            padding: 10px;
            border-radius: 10px;
            overflow-y: auto;
            background-image: var(--background-image);
            rotate: x 90deg;
            transition: rotate 0.2s;

            &.expanded {
                rotate: none;
            }
        }

        .nav-element {
            padding: 0;
        }

        .nav-dropdown {
            position: static;
            padding: 0;
            margin-left: 10px;
            display: flex;
            rotate: none;
            overflow: hidden;
            max-height: 0;
            transition: max-height linear 0.3s;

            &.expanded {
                padding: 3px 0;
                max-height: var(--phone-nav-dropdown-transition-max-height);
            }
        }
    

        // round circle dropdown icon
        .nav-dropdown-arrow,
        .nav-dropdown .nav-dropdown-arrow,
        .nav-element:hover > .nav-div > .nav-dropdown-arrow,
        .nav-dropdown .nav-element:hover > .nav-div > .nav-dropdown-arrow {
            width: var(--arrow-phone-size);
            height: auto;
            margin: 0;
            opacity: 0.9;
            cursor: pointer;
            translate: none;
            rotate: none;
            transition: rotate 0.3s linear, stroke 0.1s linear;
        
            & > polygon {
                display: none;
            }

            & > circle, & > line {
                display: unset;
                fill: transparent;

                stroke-width: 0.8px;
                stroke: var(--arrow-phone-color);
                stroke-linecap: round;
            }

            &:hover {
                opacity: 1;

                & > line {
                    stroke: var(--arrow-phone-color-hover);
                    transition: stroke 0.3s;
                }
            }

            &.expanded {
                rotate: 180deg;
            }
        }
    }
}


.nav-root { @include nav-content(0px); }

$i: 500;
@while $i <= 1500 {
    .nav-root-#{$i}px { @include nav-content($i + px);}
    $i: $i + 100;
}

$i: 30;
@while $i <= 100 {
    .nav-root-#{$i}em { @include nav-content($i + em);}
    $i: $i + 10;
}
