/**
 *  nav-root
 *    nav-toggle
 *    nav-brand
 *      ...
 *    nav-list
 *      nav-element
 *        nav-div
 *          ...
 *          nav-dropdown-arrow
 *        nav-dropdown
 *          nav-element
 *            nav-div
 *              ...
 *              nav-dropdown-arrow
 *            nav-dropdown
 *                nav-element
 *                  ...
 **/


@mixin nav-content($breakpoint) {
    --phone-menu-min-width: 330px;
    --phone-menu-max-height: calc(100vh - 100px);
    --phone-nav-dropdown-transition-max-height: 300px;

    --background-image: linear-gradient(90deg, rgba(200, 200, 255, 0.8), rgba(230,230,255,0.8), rgba(200, 200, 255, 0.8));
    --font-color: #000;

    --desktop-link-padding: 13px;
    --vertical-link-padding: 8px;

    --phone-button-size: 65%;
    --phone-button-color: #000B;

    --arrow-down-size: 12px;
    --arrow-right-size: 10px;
    --arrow-desktop-color: #000B;
    --arrow-desktop-hover-color: #FFFB;
    --arrow-desktop-hover-stroke: #000;

    --arrow-phone-size: 35px;
    --arrow-phone-color: #000B;



    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: 18px;

    .nav-brand {
        height: 100%;
    }

    .nav-toggle {
        display: none;
    }

    .nav-list {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .nav-element {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover > .nav-dropdown {
            transform: rotate3d(0, 0, 0, 90deg);
        }
    }

    .nav-div {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-dropdown {
        position: absolute;
        top: 100%;
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-image: var(--background-image);
        z-index: 900;
        border-radius: 10px;
        transform: rotate3d(1, 0, 0, 90deg);
        transition: transform 0.2s;

        .nav-dropdown {
            top: 0;
            left: 100%;
        }
    }

    .nav-a {
        padding: var(--vertical-link-padding) var(--desktop-link-padding);
        margin: auto 0;
        color: var(--font-color);
        white-space: nowrap;
        text-decoration: none;

        &.active {
            font-weight: 700;
        }
    }


    // desktop view little down arrow at top level mwnu
    .nav-dropdown-arrow {
        width: var(--arrow-down-size);
        height: auto;
        margin-left: calc(5px - var(--desktop-link-padding));
        margin-right: var(--desktop-link-padding);
        cursor: auto;
        transition: fill, transform 0.1s;

        & > polygon {
            fill: var(--arrow-desktop-color);
        }

        & > circle, & > line {
            display: none;
        }
    }

    .nav-element:hover > .nav-div > .nav-dropdown-arrow {
        transform: translateY(3px);

        & > polygon {
            fill: var(--arrow-desktop-hover-color);
            stroke: var(--arrow-desktop-hover-stroke);
        }
    }

    // desktop view little right arrow at submenus
    .nav-dropdown {
        .nav-dropdown-arrow {
            width: var(--arrow-right-size);
            height: auto;
            margin: 0px 5px 0 2px;
            transform: translateX(0) rotate(270deg);
        }

        .nav-element:hover > .nav-div > .nav-dropdown-arrow {
            transform: translateX(3px) rotate(270deg);
        }
    }


    @media (max-width: $breakpoint) {
        .nav-toggle {
            display: unset;
            width: auto;
            height: var(--phone-button-size);
            cursor: pointer;
            background-color: transparent;
            border: 2px outset #EEE;

            & > line {
                stroke: var(--phone-button-color);
                stroke-width: 2;
                stroke-linecap: round;
            }

            &.expanded {
                border: 2px inset #EEE;
            }
        }

        .nav-list {
            position: absolute;
            top: 100%;
            left: 50%;
            min-width: var(--phone-menu-min-width);
            max-height: var(--phone-menu-max-height);
            flex-direction: column;
            height: unset;
            padding: 10px;
            border-radius: 10px;
            overflow-y: auto;
            background-image: var(--background-image);
            transform: translate(-50%) rotate3d(1, 0, 0, 90deg);
            transition: transform 0.2s;

            &.expanded {
                transform: translate(-50%);
            }
        }

        .nav-dropdown {
            position: static;
            padding: 0;
            margin-left: 10px;
            display: flex;
            transform: unset;
            overflow: hidden;
            max-height: 0;
            transition: max-height linear 0.3s;

            &.expanded {
                padding: 3px 0;
                max-height: var(--phone-nav-dropdown-transition-max-height);
            }
        }
    

        // round circle dropdown icon
        .nav-dropdown-arrow, .nav-dropdown .nav-dropdown-arrow {
            width: var(--arrow-phone-size);
            height: auto;
            margin: 0;
            opacity: 0.9;
            cursor: pointer;
            transform: rotate(0);
            transition: transform 0.3s;
        
            & > polygon {
                display: none;
            }

            & > circle, & > line {
                display: unset;
                fill: transparent;

                stroke-width: 0.8px;
                stroke: var(--arrow-phone-color);
                stroke-linecap: round;
            }

            &:hover {
                opacity: 1;
            }

            &.expanded {
                transform: rotate(180deg) !important;
            }
        }

        .nav-element:hover > .nav-div > .nav-dropdown-arrow, .nav-dropdown .nav-element:hover > .nav-div > .nav-dropdown-arrow {
            transform: none;
        }
    }
}

.nav-root { @include nav-content(0px); }
.nav-root-100 { @include nav-content(100px); }
.nav-root-200 { @include nav-content(200px); }
.nav-root-300 { @include nav-content(300px); }
.nav-root-400 { @include nav-content(400px); }
.nav-root-500 { @include nav-content(500px); }
.nav-root-600 { @include nav-content(600px); }
.nav-root-700 { @include nav-content(700px); }
.nav-root-800 { @include nav-content(800px); }
.nav-root-900 { @include nav-content(900px); }
.nav-root-1000 { @include nav-content(1000px); }
.nav-root-1100 { @include nav-content(1100px); }
.nav-root-1200 { @include nav-content(1200px); }
.nav-root-1300 { @include nav-content(1300px); }
.nav-root-1400 { @include nav-content(1400px); }
.nav-root-1500 { @include nav-content(1500px); }
