@namespace NoJsBlazor

@if (Head) {
    @ChildContent
}
else {
    <li class="nav-element">
        @ChildContent
    </li>
}

@code {
    /// <summary>
    /// Will be automatically set by the parent.
    /// </summary>
    [CascadingParameter(Name = "Head")]
    public bool Head { get; set; }

    /// <summary>
    /// Html that will be displayed.
    /// </summary>
    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; set; }
}
