$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
/**
 * bootstrap variables for container
 * sm: 540px,
 * md: 720px,
 * lg: 960px,
 * xl: 1140px
 */

@mixin media-breakpoint-up($width) {
    @media (min-width: $width) {
        @content;
    }
}

@mixin media-breakpoint-down($width) {
    @media (max-width: $width - 0.01) {
        @content;
    }
}

// height of the navbar
$Height: 50px;

// background of the navbar
$backgroundImage: linear-gradient(90deg, rgba(200, 200, 255, 0.8), rgba(230,230,255,0.8), rgba(200, 200, 255, 0.8));

// breakpoint of display-width in px when it colapses from desktop view in phone view
$breakpoint: $md;

// space between the items in desktop view (this effects the width of the navbar in desktop view)
// space is part of the link, so the links get more easily clickable
$desktop-item-padding: 13px;

// space between the items in desktop view (this effects the width of the navbar in desktop view)
// space is part of list-item, so it is really just empty space
$desktop-item-margin: 0;

// width of the navbar in phone view
$phone-min-width: 280px;

// size of right arrow in desktop view
$dropright-arrow-size: 10px;


// color of text/letters
$font-color: #000;

// color of text/letters while hovered
$font-hover: #FFF;

// shadow by hovering
$font-shadow: #000;


// color of dropdown-arrow (dropright-arrow)
$arrow-color: "%23000B";

// color of dropdown-arrow (dropright-arrow) while hovered
$arrow-hover: "%23FFFB";

// stroke-color of dropdown-arrow (dropright-arrow) while hovered
$arrow-stroke: "%23000";

// color of phone view round circle dropdown icon
$arrow-phone: "%23000B";



.navbar {
    display: table;
    height: $Height;
    margin: 0;
    padding: 5px 0 0 0;

    @include media-breakpoint-down($breakpoint) {
        min-width: $phone-min-width;
    }

    .navbar-brand {
        margin: 0;
        padding: 0;

        @include media-breakpoint-down($breakpoint) {
            margin-top: 8px;
        }

        a {
            transition: color 0.1s;
            transition: text-shadow 0.1s;
            color: $font-color;

            span {
                margin-left: 5px;
                font-size: 30px;
                font-family: "Great Vibes", Calibri;
                text-decoration: none;
            }

            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                transition: background-color 0.1s;
            }

            &:hover {
                transition: color 0.3s;
                transition: text-shadow 0.3s;
                color: $font-hover !important;
                text-shadow: 0 0 5px $font-shadow !important;

                img {
                    transition: background-color 0.3s;
                    background-color: #E8E8E8;
                }
            }
        }
    }

    & > .navbar-toggler {
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
        border: none;
        border-radius: 0;

        & > span {
            display: inline-block;
        }
        & > div {
            float: left;
            margin: 5px 0 0 0;

            button {
                width: 30px;
                height: 30px;
                font-size: inherit;
                cursor: pointer;
                background-color: transparent;
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><g stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round'><line x1='4' y1='7' x2='26' y2='7'/><line x1='4' y1='15' x2='26' y2='15'/><line x1='4' y1='23' x2='26' y2='23'/></g></svg>");
            }
        }
    }

    @include media-breakpoint-up($breakpoint) {
        & > .navbar-toggler {
            display: none;
        }
    }

    @include media-breakpoint-down($breakpoint) {
        & > .navbar-collapse.expanded {
            transform: rotate3d(1, 0, 0, 0deg);
        }
    }

    & > .navbar-collapse {
        transform: rotate3d(1, 0, 0, 90deg);
        flex-grow: 0;
        margin: 0 auto;
        transition: transform 0.2s;

        .active {
            font-weight: bolder;
        }

        @include media-breakpoint-down($breakpoint) {
            position: absolute;
            top: $Height;
            left: 0;
            width: 100%;
            max-height: calc(100vh - #{$Height});
            overflow-y: auto;
            background-image: $backgroundImage;

            .navbar-brand {
                display: none;
            }

            .navbar-nav {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 1rem 0;
                list-style: none;

                .nav-item {
                    display: inline-block;
                    width: 100%;
                    padding: 0 0 0 1rem;

                    p  {
                        padding: 0.5rem 0;
                        margin: 0;
                        cursor: pointer;
                    }

                    .nav-link, p {
                        display: inline-block;
                        width: 100%;
                        color: $font-color;

                        &:focus {
                            color: $font-hover !important;
                            text-shadow: 0 0 5px $font-shadow;
                            text-decoration: initial;
                            background-color: initial;
                        }

                        &:hover, &:active {
                            transition: color 0.3s;
                            transition: text-shadow 0.3s;
                            color: $font-hover !important;
                            text-shadow: 0 0 5px $font-shadow;
                        }
                    }

                    .dropdown-menu {
                        width: 100%;
                        padding: 0;
                        border: none;
                        background-color: transparent;

                        .nav-link {
                            padding: 7px 0;
                        }
                    }

                    .expanded {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .nav-item.dropdown {
                    .nav-link, p {
                        width: 75%;
                    }
                }
            }
        }

        @include media-breakpoint-up($breakpoint) {
            transform: rotate3d(1, 0, 0, 0deg);

            .navbar-brand {
                margin-right: 30px;
            }

            & > .navbar-nav {
                flex-direction: row;
                margin: 0 auto;

                & > .nav-item {
                    font-size: 17px;
                }

                .nav-item {
                    margin-left: $desktop-item-margin;
                    margin-right: $desktop-item-margin;
                    padding: 0;

                    p {
                        padding: 0.5rem $desktop-item-padding;
                        margin: 0;
                        cursor: pointer;
                    }

                    .nav-link, p {
                        display: inline-block;
                        padding-left: $desktop-item-padding;
                        padding-right: $desktop-item-padding;
                        transition: color 0.1s;
                        transition: text-shadow 0.1s;
                        color: $font-color;

                        &:hover, &:active {
                            transition: color 0.3s;
                            transition: text-shadow 0.3s;
                            color: $font-hover !important;
                            text-shadow: 0 0 5px $font-shadow;

                            .dropdown-arrow {
                                fill: #D8D8D8;
                            }
                        }
                    }

                    &:focus, .nav-link:focus {
                        color: initial;
                        text-decoration: initial;
                        background-color: initial;
                    }

                    .dropdown-menu {
                        position: absolute;
                        top: 99%;
                        display: flex;
                        flex-direction: column;
                        padding: 5px 0 5px 5px;
                        margin: 0;
                        background-image: $backgroundImage;
                        z-index: 900;
                        border-radius: 10px;
                        transform: rotate3d(1, 0, 0, 90deg);
                        transition: transform 0.2s;

                        .nav-item {
                            display: grid;
                            grid-template-columns: auto $dropright-arrow-size;
                            align-items: center;
                            width: 100%;
                            padding: 0 10px;
                        }

                        .nav.link, p {
                            display: inline-block;
                            margin: 0 10px 0 0;
                            white-space: nowrap;
                        }

                        .dropdown-menu {
                            top: -5px;
                            left: 99%;
                            margin-left: 0;
                        }
                    }
                }

                .dropdown > p {
                    cursor: default;
                }

                .nav-item.dropdown .nav-link, .nav-item.dropdown p {
                    padding-right: 0;
                }

                .dropdown:hover > .dropdown-menu {
                    transform: rotate3d(1, 1, 1, 0deg);
                }
            }
        }
    }
}

// drop-down-arrow
.navbar {
    // phone round circle string
    $phone-view-round-circle-header: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>";
    $phone-view-round-circle-content: "<circle cx='50' cy='50' r='40' fill='rgba(0, 0, 0, 0)'/><line x1='33' y1='43' x2='50' y2='60'/><line x1='67' y1='43' x2='50' y2='60'/>";
    
    $phone-view-round-circle-string: "url(\"data:image/svg+xml;utf8," + $phone-view-round-circle-header + "<g stroke-width='8' stroke='" + $arrow-phone + "' stroke-linecap='round'>" + $phone-view-round-circle-content + "</g></svg>\")";
    
    
    // dropdown-arrow string
    $down-arraw-background-header: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'>";
    $down-arraw-background-points: "0,0 5,10 10,0 5,3";

    $down-arraw-background-string: "url(\"data:image/svg+xml;utf8," + $down-arraw-background-header + "<polygon fill='" + $arrow-color + "' points='" + $down-arraw-background-points + "'/></svg>\")";
    $down-arraw-hover-background-string: "url(\"data:image/svg+xml;utf8," + $down-arraw-background-header + "<polygon fill='" + $arrow-hover + "' stroke='" + $arrow-stroke + "' stroke-width='1' points='" + $down-arraw-background-points + "'/></svg>\")";


    // dropright-arrow string
    $right-arraw-background-header: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'>";
    $right-arraw-background-points: "0,0 3,5 0,10 10,5";

    $right-arraw-background-string: "url(\"data:image/svg+xml;utf8," + $right-arraw-background-header + "<polygon fill='" + $arrow-color + "' points='" + $right-arraw-background-points + "'/></svg>\")";
    $right-arraw-hover-background-string: "url(\"data:image/svg+xml;utf8," + $right-arraw-background-header + "<polygon fill='" + $arrow-hover + "' stroke='" + $arrow-stroke + "' stroke-width='1' points='" + $right-arraw-background-points + "'/></svg>\")";


    @include media-breakpoint-down($breakpoint) {
        // phone view round circle dropdown icon
        .dropdown-arrow {
            float: right;
            width: 35px;
            height: 35px;
            padding: 2.5px;
            margin-right: 15px;
            opacity: 0.9;
            cursor: pointer;
            transition: transform 0.3s;
            background: #{$phone-view-round-circle-string};
            background-repeat: no-repeat;

            &:hover {
                opacity: 1;
            }
        }

        .dropdown-arrow.expanded {
            transform: rotate(180deg);
        }
    }

    @include media-breakpoint-up($breakpoint) {
        // desktop view little down arrow at top level mwnu
        .dropdown-arrow {
            $size: 12;
            display: inline-block;
            vertical-align: middle;
            transition: fill 0.1s;
            margin-bottom: 1px;
            padding-right: $size + $desktop-item-padding;
            width: $size + px;
            height: $size + px;
            background: #{$down-arraw-background-string};
            background-repeat: no-repeat;
        }

        .nav-item.dropdown:hover > .dropdown-arrow {
            background: #{$down-arraw-hover-background-string};
            background-repeat: no-repeat;
        }

        // desktop view little right arrow at submenus
        .dropdown-menu {
            .dropdown-arrow {
                width: $dropright-arrow-size;
                height: $dropright-arrow-size;
                margin-top: 2px;
                background: #{$right-arraw-background-string};
                background-repeat: no-repeat;
            }

            .nav-item.dropdown:hover > .dropdown-arrow {
                background: #{$right-arraw-hover-background-string};
                background-repeat: no-repeat;
            }
        }
    }
}


#header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $Height + px;
    background-image: $backgroundImage;
    z-index: 500;

    .navbar-brand {
        .oi-home {
            font-family: Icons !important;
            font-size: 16px !important;
            color: rgba(0, 0, 0, 0.3) !important;
            text-shadow: none !important;
            transition: color 0.2s;
        }

        a:hover > .oi-home {
            color: rgba(0, 0, 0, 0.8) !important;
            text-shadow: none !important;
        }
    }

    #flag {
        display: table;
        cursor: pointer;
        padding: 2px 4px 5px 4px;
        margin-left: 10px;
        border-radius: 10px;
        transition: background-color 0.5s;
        opacity: 0.8;

        &:hover, &:active {
            transition: background-color 0.3s;
            background-color: #88F;
            opacity: 1;
        }
    }
}
