@namespace ManualTesting.Client
@inherits Services.ServiceComponentBase

<div id="root" @onclick="(MouseEventArgs e) => Click?.Invoke(e)">
    @if (isPreRendering()) {
        <div id="app-load-progress">
            <div class="load-circle"></div>
            <LoaderIcon />
        </div>
    }

    <Portal />


    <RootNavBar />

    <main>
        <Home />
    </main>


    <div id="blazor-error-ui">
        <div>
            <p><span>An unexpected error has occurred.</span><span><a href="/" class="reload">Reload Website</a> if not working as expected.</span></p>
            <svg class="dismiss" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <line x1="2" y1="2" x2="8" y2="8" />
                <line x1="2" y1="8" x2="8" y2="2" />
            </svg>
        </div>
    </div>
</div>
