@namespace ManualTesting.Client
@inherits ServiceComponentBase<IRoot>

<body @onclick="(MouseEventArgs e) => Click?.Invoke(e)"
      @onmousedown="(MouseEventArgs e) => MouseDown?.Invoke(e)" @ontouchstart="(TouchEventArgs e) => TouchStart?.Invoke(e)"
      @onmousemove="(MouseEventArgs e) => MouseMove?.Invoke(e)" @ontouchmove="(TouchEventArgs e) => TouchMove?.Invoke(e)"
      @onmouseup="(MouseEventArgs e) => MouseUp?.Invoke(e)" @ontouchend="(TouchEventArgs e) => TouchEnd?.Invoke(e)">

    @if (PreRenderFlag.Flag) {
        <LoaderIcon style="position: fixed; inset: 10% max(5%, 30px) auto auto; z-index: 999;" />
    }

    <DialogBox />


    <RootNavBar @ref="navBar" />

    <main>
        <Router AppAssembly="@typeof(Root).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" />
            </Found>
            <NotFound>
                <NotFound />
            </NotFound>
        </Router>
    </main>


    <div id="blazor-error-ui">
        <div>
            <p><span>An unexpected error has occurred.</span><span><a href="/">Reload Website</a> if not working as expected.</span></p>
            <svg class="dismiss" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                <line x1="2" y1="2" x2="8" y2="8" />
                <line x1="2" y1="8" x2="8" y2="2" />
            </svg>
        </div>
    </div>
</body>
