html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 40px 0 150px 0;
    background: #EEE;
}

#blazor-error-ui {
    position: fixed;
    inset: auto 0 0 0;
    z-index: 1000;
    display: none;
    background-image: linear-gradient(90deg, #FF7, #FF4, #FF7);

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8em;
        padding: 0.6em 1.2em;
        
        & > p {
            margin: 0 0 0 auto;

            & > span {
                display: inline-block;

                &:first-child {
                    margin-right: 0.4em;
                }
            }
        }

        & > .dismiss {
            cursor: pointer;
            margin-left: auto;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            transition: stroke 0.1s;
            
            & > line {
                stroke: #000;
                stroke-width: 2;
                stroke-linecap: round;
            }

            &:hover > line {
                stroke: #04b;
                transition: stroke 0.3s;
            }
        }
    }
}
